body {
    width: 352px;
    margin-left: 50px;
    margin-top: 100px;
    height: 400px;
}

#head {
    text-align: center;
    padding-top: 10px;
    position: relative;
    bottom: -10px;
    font-size: 20px;
    font-weight: 100;
    font-family: fantasy;
}

.hide {
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
}

li a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline solid blue;
    background-color: burlywood;
    color: chartreuse;
}

a:active {
    color: black;
}

main {
    border-style: solid;
    border-width: 3px;
    border-color: silver;
    background-color: whitesmoke;
    position: relative;
    top: -16px
}

h3 {
    position: relative;
    top: -10px;
}

ol {
    padding-top:px;
}