main {
    border: 3px solid silver;
    background-color: whitesmoke;
    width: 500px;
}

header>h1 {
    text-align: center;
    font-weight: normal;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: underline double orange;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: orchid 4px ridge;
    border-radius: 6px;
}

p+h2 {
    font-family: cursive;
}

input[type="radio"]:checked {
    box-shadow: 0 0 0 2px palevioletred;
}

input:checked+.full {
    color: red;
}

input:checked+.half {
    color: greenyellow;
}
    input:checked+.fun {
        color: rgb(0, 183, 255);
    }
    option:checked {
        color: red;
    }
    div>label {
        color: royalblue;
    }